= form_for @workout do |f|
  - if @workout.errors.any?
    #error_explanation
      %h2= "#{pluralize(@workout.errors.count, "error")} prohibited this workout from being saved:"
      %ul
        - @workout.errors.full_messages.each do |message|
          %li= message

  %form{'action' => '/action_page.php'}
    .col-xs-3
      .form-group
        = f.label :date, 'Date:'
        = f.date_field :date, class: 'form-control'
      .form-group
        = f.label :workout_type, 'Workout Type:'
        = f.text_field :workout_type, class: 'form-control'
      .form-group
        = f.label :duration, 'Duration:'
        = f.number_field :duration, class: 'form-control'
      .form-group
        = f.label :calories, 'Calories:'
        = f.number_field:calories, class: 'form-control'
      .form-group
        = f.submit 'Submit', class: 'btn btn-default'
