%h2= t('.title')
%table.table.table-bordered.table-hover
  %thread
    %tr
      %th= t('.date')
      %th= t('.workout_type')
      %th= t('.duration')
      %th= t('.calories')


  %tbody
    - @workouts.reverse_each do |workout|
      %tr
        %td= workout.date
        %td= workout.workout_type
        %td= workout.duration
        %td= workout.calories
        %td= link_to t('.show'), workout
        %td= link_to t('.edit'), edit_workout_path(workout)
        %td= link_to t('.destroy'), workout, method: :delete, data: { confirm: t('.destroy_confirm') }

%br

= link_to t('.new'), new_workout_path
