%h2= t('.title')
%table.table.table-bordered.table-hover
  %thread
    %tr
      %th= t('.date')
      %th= t('.workout_type')
      %th= t('.duration')
      %th= t('.calories')
      %th


  %tbody
    - @workouts.reverse_each do |workout|
      - row_class = workout.id
      %tr
        %td{:class => "#{row_class}"}= workout.date
        %td{:class => "#{row_class}"}= workout.workout_type
        %td{:class => "#{row_class}"}= workout.duration
        %td{:class => "#{row_class}"}= workout.calories
        %td{:class => "#{row_class}"}= link_to t('.details'), workout
%br

= link_to t('.new'), new_workout_path
