%h2= t('.title')

%i.far.fa-plus-square
= link_to t('.new'), new_workout_path
%br
%br

-if Workout.first.present?
  %table.table.table-bordered.table-hover
    %thread
      %tr
        %th.heading= link_to t('.date'), :sort => "date"
        %th.heading= link_to t('.workout_type'), :sort => "workout_type"
        %th.heading= link_to t('.duration'), :sort => "duration"
        %th.heading= link_to t('.calories'), :sort => "calories"
        %th


      %tbody
        - @workouts.reverse_each do |workout|
          %tr
            %td= workout.date
            %td= workout.workout_type
            %td= workout.duration
            %td= workout.calories
            %td= link_to t('.details'), workout
