%h2= t('.title')

-#Link to add a new workout
%i.far.fa-plus-square
= link_to t('workouts.new'), new_workout_path
%br
%br

-#Displays workouts table only if current user has workouts to display
-if current_user.workouts.first.present?
  %table.table.table-bordered.table-hover
    %thread
      %tr
        %th.heading= link_to t('units.date'), :sort => "date"
        %th.heading= link_to t('.workout_type'), :sort => "workout_type"
        %th.heading= link_to t('.duration'), :sort => "duration"
        %th.heading= link_to t('units.calories'), :sort => "calories"
        %th

      %tbody
        -#Displays workouts so that most recent entry is at the top
        - @workouts.reverse_each do |workout|
          %tr.hoverable
            %td= workout.date
            %td= workout.workout_type
            %td= workout.duration
            %td= workout.calories
            %td= link_to t('crud.details'), workout
