%p
  %b= t('.date')
  = @workout.date
%p
  %b= t('.workout_type')
  = @workout.workout_type
%p
  %b= t('.duration')
  = @workout.duration.to_s + ' minutes'
%p
  %b= t('.calories')
  = @workout.calories

= link_to t('.edit'), edit_workout_path(@workout)
\|
= link_to t('.delete'), @workout, method: :delete, data: { confirm: t('.delete_confirm') }

%hr

-#Renders exercises table only if there are exercises to display
= render :partial => "exercises/table" unless @workout.exercises.empty?

%i.far.fa-plus-square
= link_to t('.add'), new_exercise_path(workout_id: @workout)


