%p#notice= notice

%p
  %b Date:
  = @workout.date
%p
  %b Workout type:
  = @workout.workout_type
%p
  %b Duration:
  = @workout.duration
%p
  %b Calories:
  = @workout.calories


%p= link_to 'Add Exercise', new_exercise_path(workout_id: @workout)

= link_to 'Edit', edit_workout_path(@workout)
\|
= link_to 'Back', workouts_path
