%br
%br
= form_for @weight do |f|
  - if @weight.errors.any?
    #error_explanation
      %h2= "#{pluralize(@weight.errors.count, "error")} prohibited this weight from being saved:"
      %ul
        - @weight.errors.full_messages.each do |message|
          %li= message

  %form{'action' => '/action_page.php'}
    .col-xs-3
      .form-group
        = f.label :date
        = f.date_field :date, class: 'form-control'
      .form-group
        = f.label :weight
        = f.number_field :weight, class: 'form-control', min: '0.0', step: '0.1' #Ensures user cannot enter negative weight
      .form-group
        = f.label 'Progress Picture'
        = f.file_field :image
      .form-group
        = f.submit t('.save'), class: 'btn btn-default'
