%h2= t('.title')

-#Only displays content if there is atleast one weight entry
-if current_user.weights.first.present?
  %br
  = line_chart current_user.weights.group_by_week(:date).average(:weight)
  %br
  %div.container-fluid.box_display
    -#Displays total weight change
    %h4.box.fas.fa-weight= t('.weight_change')
    %p.box=  weight_difference.to_s + t('units.kg')
  %hr

-#Link to add a new weight
%i.far.fa-plus-square
= link_to t('weights.new'), new_weight_path
%br

-#Only displays content if there is atleast one weight entry for current user
-if current_user.weights.first.present?
  %br
  %table.table.table-bordered.table-hover
    %thead
      %tr
        %th= t('units.date')
        %th= t('.weight')
        %th

    %tbody
      -#Displays weights so most recent entry is at the top
      - @weights.reverse_each do |weight|
        %tr.hoverable
          %td= weight.date
          %td= weight.weight
          %td= link_to t('crud.details'), weight