%h2= t('.title')

-if current_user.weights.first.present?
  %br
  = line_chart current_user.weights.group_by_week(:date).average(:weight)
  %br
  %div.container-fluid.box_display
    -if current_user.weights.first.present?
      -#Displays total weight change
      %h4.box.fas.fa-weight= t('.weight_change')
      %p.box=  weight_difference.to_s + t('.kg')
  %hr

%i.far.fa-plus-square
= link_to t('.new_weight'), new_weight_path
%br

-if current_user.weights.first.present?
  %br
  %table.table.table-bordered.table-hover
    %thead
      %tr
        %th= t('.date')
        %th= t('.weight')
        %th

    %tbody
      - @weights.reverse_each do |weight|
        %tr
          %td= weight.date
          %td= weight.weight
          %td= link_to t('.details'), weight
