%br
-# If a weight has an image attached then display it
- if @weight.image.attached?
  %image.img-fluid{alt: "Responsive image", src: "#{(url_for(@weight.image))}"}

%p
  %b Date:
  = @weight.date
%p
  %b Weight:
  = @weight.weight.to_s + t('units.kg')

= link_to t('crud.edit'), edit_weight_path(@weight)
\|
= link_to t('crud.delete'), @weight, method: :delete, data: { confirm: t('crud.delete_confirm') }