%p
  %b Date:
  = @weight.date
%p
  %b Weight:
  = @weight.weight

- if @weight.image.attached?
  %p
    %b Progress Picture:
  %image.img-fluid{alt: "Responsive image", src: "#{(url_for(@weight.image))}"}

%p= link_to t('.edit'), edit_weight_path(@weight)

%p= link_to t('.delete'), @weight, method: :delete, data: { confirm: t('.delete_confirm') }

%p= link_to t('.back'), weights_path
