:css
    p, b, i{
        font-family: Georgia, Times, "Times New Roman", serif;
    }

    div{
       outline: 2px solid #3a69c0;
    }

    img{
        width: 70px;
        height: 70px;
    }

    b,i{
        display: inline;
        position: relative;
        bottom: 28px;
        left: 1px;
        font-size: 12px;
    }

    #indented{
        text-indent: 1%;
    }


%p= "Dear #{t('app_title')},"

%p{id: 'indented'}= @message

%p= t('.thanks')
%p= @name

%div
    %img{:alt => "", :src => "/assets/logo.png", id: 'logo'}
    %b= t('.email')
    %i= @email
    %b= t('.telephone')
    %i= @telephone