%h2= t('.title')

-# Only displays graph is there are actually workouts
-if @totalDuration > 0
    = pie_chart workouts_this_month.group(:workout_type).count

%br


%div.container-fluid.box_display
    -if Weight.first.present?
        -#displays total weight chnage
        %h4.box.fas.fa-weight= ' Total Weight Change'
        %p.box=  weight_difference.to_s + ' kgs'
    -else
        %h4.box.fas.fa-exclamation-circle= ' Add Weight Records To See Weight Change'
    -if Workout.first.present?
        %br
        -#displays total calories for this month
        %h4.box.fas.fa-fire-alt= ' Total Calories Burned This Month'
        %p.box= @totalCalories.to_s + ' calories'
        -#displays total calories for this month
        %br
        %h4.box.fas.fa-dumbbell= ' Total Time Of Workouts This Month'
        %p.box=  @totalHours.to_s + ' hours and ' + @totalMins.to_s + ' minutes'
    -else
        %br
        %h4.box.fas.fa-exclamation-circle= ' Add Workouts To See Summary'

-#display progress images
.container-fluid.text-center
    -if Weight.first.present?
        %h2 Your Progress Pictures
        %h5= 'First Weight Entry On: ' + first_weight.date.to_s
        - if first_weight.image.attached?
            %image.img-fluid{src: "#{(url_for(first_weight.image))}"}
        - else
            %h5.fas.fa-exclamation-circle Upload an Image to Your First Weight Entry to Compare
        %h5= 'Most Recent Weight Entry On: ' + current_weight.date.to_s
        - if current_weight.image.attached?
            %image.img-fluid{src: "#{(url_for(current_weight.image))}"}
        - else
            %h5.fas.fa-exclamation-circle Upload an Image to Your Most Recent Weight Entry to Compare




