%h2= t('.title')

-# Only displays graph is there are actually workouts
-if @totalDuration > 0
    = pie_chart workouts_this_month.group(:workout_type).count

%br

%div.container-fluid.summary_display
    -#displays total weight chnage
    %h4.summary.fas.fa-weight= ' Total Weight Change'
    %p.summary=  weight_difference.to_s + ' kgs'
    %br
    -#displays total calories for this month
    %h4.summary.fas.fa-fire-alt= ' Total Calories Burned This Month'
    %p.summary= @totalCalories.to_s + ' calories'
    -#displays total calories for this month
    %br
    %h4.summary.fas.fa-dumbbell= ' Total Time Of Workouts This Month'
    %p.summary=  @totalHours.to_s + ' hours and ' + @totalMins.to_s + ' minutes'

%br



