%br
%br
= form_for @exercise do |f|
  - if @exercise.errors.any?
    #error_explanation
      %h2= "#{pluralize(@exercise.errors.count, "error")} prohibited this exercise from being saved:"
      %ul
        - @exercise.errors.full_messages.each do |message|
          %li= message

  %form{'action' => '/action_page.php'}
    .col-xs-3
      .form-group
        = f.label :workout
        %p= @exercise.workout.workout_type
        = f.hidden_field :workout_id, value: @exercise.workout.id, class: 'form-control'
      .form-group
        = f.label :title
        = f.text_field :title, class: 'form-control'
      .form-group
        = f.label :sets
        = f.number_field :sets, class: 'form-control', min: '1' #Ensures user cannot enter less than 1 sets
      .form-group
        = f.label :reps
        = f.number_field :reps, class: 'form-control', min: '1' #Ensures user cannot enter less than 1 reps
      .form-group
        = f.submit t('.save'), class: 'btn btn-default'
