%table.table.table-bordered.table-hover
  %thread
    %tr
      %th= t('.exercises')
      %th= t('.sets')
      %th= t('.reps')
      %th
      %th

  %tbody
    - @workout.exercises.each do |exercise|
      %tr{id: "exercise_#{exercise.id}"}
        %td= exercise.title
        %td= exercise.sets
        %td= exercise.reps
        %td= link_to t('crud.edit'), edit_exercise_path(exercise)
        %td= link_to t('crud.delete'), exercise, :method => :delete, :data => { :confirm => t('crud.delete_confirm') }, :remote => true