%p
  %b= t('.workout')
  = @exercise.workout.workout_type
%p
  %b= t('.title')
  = @exercise.title
%p
  %b= t('.sets')
  = @exercise.sets
%p
  %b= t('.reps')
  = @exercise.reps

= link_to t('.back'), @exercise.workout
