%p#notice= notice

%p
  %b Workout:
  = @exercise.workout.workout_type
%p
  %b Title:
  = @exercise.title
%p
  %b Sets:
  = @exercise.sets
%p
  %b Reps:
  = @exercise.reps

= link_to 'Back', @exercise.workout
